<li class="sub-item">
  <div class="item-info">
    <a href="#"><%= t "movie.title.en" %></a>
    <p class="text-muted">
      <%= t "movie.title.vi" %>
    </p>
    <a href="#"><i class="glyphicon glyphicon-heart save-sub"></i></a>
  </div>
</li>

<li class="sub-item">
  <div class="item-info">
    <a href="#"><%= t "movie.title.en" %></a>
    <p class="text-muted">
      <%= t "movie.title.vi" %>
    </p>
  </div>
</li>
