<% (1..2).each do %>
  <div class="col-md-6">
    <div class="feature-item">
      <div class="icon">
        <i class="glyphicon glyphicon-book"></i>
        <%= t "feature.title" %>
      </div>
      <div class="feature-content">
        <%= t "feature.content" %>
      </div>
    </div>
  </div>
<% end %>
