@import 'bootstrap-sprockets';
@import 'bootstrap';

$red: #F70044;
$white: #FFFFFF;
$gray: #F8F8F8;
$gray-bold: #e0e0e0;
$gray-dark: #DDD;
$silver: #eeeeee;

#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid $gray;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 0px;
  }
}

/* header & sidebar */
.navbar-default {
  background-color: $gray;
  border-color: $white;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.dropdown-menu li a div {
  white-space: normal;
}

.dropdown-user {
  right: 0;
  left: auto;
}

bar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar ul li {
  border-bottom: 1px solid $white;
}

.sidebar ul li a.active {
  background-color: $gray;
}
.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: $white;
  margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
  background: $gray-dark;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
}
.item.list-group-item .caption
{
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
  background: $silver;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item img
{
  float: left;
}
.item.list-group-item:after
{
  clear: both;
}
.list-group-item-text
{
  margin: 0 0 11px;
}

.right {
  float: right;
}

.td-movie img, .td-user img {
  height: auto;
  width: 100px;
}
