@import "bootstrap-sprockets";
@import "bootstrap";

/* mix */
$red: #F70044;
$white: #FFFFFF;
$gray: #F8F8F8;
$gray-bold: #e0e0e0;
$gray-dark: #DDD;

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-30 {
  margin-top: 30px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.float-right {
  float: right;
}

.liked {
  color: $red;
}

.surround-me-40 {
  margin: 40px;
}

.surround-me-100 {
  margin: 100px;
}

.full-screen {
  background-color: $gray;
}

/* header */
.normal-me {
  padding-left: 30px;
  padding-right: 30px;
}

.flat {
  border-radius: 0px !important;
}

.movies-carousel {
  position: relative;
  overflow: hidden;
  height: 420px;
  .header-text {
    position: absolute;
    top: 80px;
    left: 44px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 35%;
    a, p {
      color: $white;
    }
  }
}

/* features */
.feature {
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature-item {
  .icon {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    i {
      padding-right: 10px;
    }
  }
  .feature-content {
    font-size: 15px;
  }
}

/* movies */
.movie-list {
  .section-header {
    padding-left: 8px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    .view-all {
      padding-right: 8px;
      float: right;
      text-transform: lowercase;
      font-size: 16px;
      font-weight: normal;
    }
    &:after {
      padding-bottom: 10px;
    }
  }

  .col-md-3 {
    padding: 0px 8px 0px 8px;
  }
  .pagination {
    margin-left: 3px;
    display: block;
    clear: both;
    ul li a {
      border-radius: 0px;
    }
  }
}

.movie-item {
  width: 100%;
  background-color: $white;
  margin-bottom: 16px;
  a.movie-title {
    margin-top: 8px;
    padding-left: 8px;
    display: block;
    font-size: 17px;
  }
  > p {
    padding-left: 8px;
    font-style: italic;
  }
  img {
    width: 100%;
  }
  .extra-info {
    padding: 0px 8px 0px 8px;
  }
}

.extra-info p {
  display: inline-block;
}

.float-right {
  float: right;
}

/* right side */
.aside-movies {
  background-color: $white;
}

.rightside-header {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.aside-movies ul {
  list-style: none;
  padding-left: 14px;
}

.movies {
  display: inline-block;
  margin-top: 10px;
  .item {
    display: inline-block;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    .image {
      width: 80px;
      float: left;
    }
    .item-info {
      width: calc(100% - 80px);
      float: left;
      padding-left: 10px;
    }
  }
  .item-info {
    h4 {
      margin-top: 0px;
      margin-bottom: 2px;
      font-size: 14px;
    }
    p {
      font-size: 13px;
    }
  }
  .item .image img {
    width: 100%;
  }
}

.aside-movies form {
  padding: 20px;
}

/* custom */
.nav-tabs > li > a {
  border-radius: 0px !important;
}
.carousel-inner img {width: 100%;}

/* footer */
footer {
  margin-top: 20px;
  background-color: $gray;
  padding-top: 20px;
  padding-bottom: 20px;
  .footer-heart {color: $red !important; font-size: 20px;}
}


/* detail */
.play-box {
  padding-left: 30px;
  position: relative;
  img {
    width: 100%;
  }
}

.overlay {
  cursor: pointer;
  opacity: 1;
  position: absolute !important;
  top: 15px !important;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin: -28px 0 0 -24px;
    border-radius: 13px;
    background: transparent;
    text-align: center;
    padding: 7px 18px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    text-decoration: none;
    background: rgba(255, 152, 75, 0.75);
    color: $white;
  }
}

.user-overview {
  padding-left: 29px;
  margin-top: 15px;
}

.movie-detail {
  background-color: $white;
  .heading {
    h4 {
      font-size: 16px;
      text-transform: uppercase;
    }
    h5 {
      text-transform: uppercase;
    }
  }
}

.episode-list {
  a {
    margin-bottom: 10px;
  }
}

.comment-list {
  width: 100%;
  margin-top: 30px;
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}

.comment-item {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  .image {
    float: left;
    float: left;
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .comment-info {
    float: left;
    width: calc(100% - 80px);
    padding-left: 10px;
    position: relative;
    h5 {
      margin-top: 0px;
    }
    .comment-date {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}


/* autocomplete */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px $gray-bold;
  cursor: pointer;
  max-height: 300px;
  overflow-y: scroll;
  li {
    background-color: $white;
    border-top: solid 1px $gray-dark;
    margin: 0;
    padding: 0;
    div {
      color: black;
      display: block;
      padding-left: 8px;
      &.title_en {
        font-weight: bold;
        padding-top: 5px;
      }
      &.title_vi {
        padding-bottom: 5px;
        font-style: italic;
      }
    }
  }
}

/* error pages */
.status-code {
  color: $red;
  font-weight: bold;
  font-size: 35px;
}

#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 0px;
  }
}

/* header & sidebar */
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

bar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

