<div class="row">
  <% (1..4).each do |i| %>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">
                <%= t("admin.views.static_pages.statistical.count", count: 216) %>
              </div>
              <div>
                <%= t("admin.views.static_pages.statistical.new", name: "movies") %>
              </div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">
              <%= t("admin.views.static_pages.statistical.view") %>
            </span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  <% end %>
</div>
